/* CSS comment */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.box {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box:hover {
  background-color: rgba(26, 26, 26, 0.1);
}

.daily {
  cursor: pointer;
  font-size: 27.5px;
  letter-spacing: 2.5px;
  max-width: 65%;
  padding: 45px 45px;
  font-weight: 500;
  background: rgba(105, 103, 103, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(234, 230, 230, 0.13);
  text-align: center;
  line-height: 47.5px;
}

.daily:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.hide {
  visibility: hidden;
}

@media screen and (max-width: 811px) {
  .daily {
    font-size: 25px;
    max-width: 70%;
  }
}
