/* CSS comment */

html, body {
    background-color: black;
    height:100%;
    margin:0;
}

.box {
    background: linear-gradient(black , rosybrown , black );
    height:100vh;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.box:hover {
    background: linear-gradient(black , salmon , black );
}

.daily {
    background-color:black;
    border-bottom: 0;
    border-color: #151b54;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 6px 8px 6px -2px #250517;
    color: steelblue;
    cursor: pointer;
    font-family: Lobster;
    font-size: 30px;
    letter-spacing: 2.5px;
    margin:auto;
    max-width: 650px;
    min-width: 390px;
    padding: 2px 5px 6px;
    text-align:center;

    position:absolute;
    top:45%;
    left:0;
    right:0;
}

.daily:hover {
    border-color: #2b3856;
    box-shadow: 8px 8px 6px -2px #7e587e;
    color: cyan;
    text-shadow: 3px 3px 3px #6a287e;
}

.hide {
    visibility:hidden;
}
