/* CSS comment */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  font-family: Roboto, "Arial Rounded MT Bold", sans-serif;
  overflow: hidden;
}

.box {
  align-items: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.box:hover {
  background-color: rgba(26, 26, 26, 0.1);
}

.daily {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(9px);
  background: rgba(105, 103, 103, 0.21);
  border: 1px solid rgba(234, 230, 230, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 27.5px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 47.5px;
  max-width: 70%;
  min-width: 280px;
  padding: 30px 50px 25px 50px;
  text-align: center;
}

.daily:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.hide {
  visibility: hidden;
}

@media screen and (max-width: 811px) {
  .daily {
    font-size: 25px;
    max-width:60%;
    padding: 25px;
  }

}
